.TabsHighlighted{
  color: black !important;
  background-color: white;
  font-size: 1.1rem;
  border-radius: 5px 5px 0px 0px;
  padding: 0.4em 0.4em 0.3em 0.4em;
}

.Tabs{
  color: black !important;
  background-color: white;
  border-radius: 5px 5px 0px 0px;
  padding: 0.3em 0.4em 0.3em 0.4em;
}

.TabsDiv{
  line-height:1;
  text-align: left;
  padding-bottom: 0.3em;
}

.Note{
  float: right;
  vertical-align: bottom;
  font-size: 1.2rem;
  position: relative;
  bottom: 1rem;
}

div.title{
  height: 8%;
}

p.title-text{
  color: white;
  font-size: 1.2rem;
}

@media screen and (max-width: 512px){/* 可视区域小于 512px, 设置更小font-size属性 */
   p.title-text{
  color: white;
  font-size: 0.9rem;
}
}