span.playButton{
    user-select: none;
    font-size:20px;
    display: inline-block;
    text-align: center;
    margin-left:2%;
    width:4%;
    height:120%;
    border-radius: 8px;
    background-image:linear-gradient(100deg,#D74C81, #AE84A0,  #93A8B4,#6DDCD2);
  }
.wallet-input{
    margin-left: -100%;
}
.address{
    margin-left:5%;
}
.balance{
    margin-left: 20%;
    color:white;
}
.wicc{
    margin-left:5%;
    text-align: left;
}
.wpt{
    margin-left:5%;
    text-align: left;
}

@media screen and (max-width: 512px){
    .address{
        font-size: 0.8rem;
        margin-left:5%;
    }
    .balance{
        font-size: 0.8rem;
        color:white;
    }
    span.playButton{
        font-size:0.6em;
        width:8%;
        margin-left:5%;

    }

    .wallet-input{
        margin-left: -100%;
        /* width:10%; */
    }


 }


