span.playButton{
    user-select: none;
    font-size:20px;
    color:black;
    display: inline-block;
    text-align: center;
    margin-left:2%;
    width:10%;

    border-radius: 8px;
    background-color:white;
  }
span.playButton:hover{
    cursor: pointer;
    
}
span.playButton:active{
    opacity: 0.8;
}
.wallet-input{
    width:20%;
}
.address{
    margin-left:0%;
}
.balance{
    margin-top: 5%;
    color:white;
}
.wicc{
    margin-left:3%;
    text-align: left;
}







@media screen and (max-width: 512px){

    span.address{
        font-size: 1.1rem;
        margin-left:-13%;
    }
    .balance{
        font-size: 1.1rem;
        padding-bottom:10px;
        color:white;
        margin-left:-13%;
    }

    span.playButton{
        font-size:0.8em;
        width:20%;
        margin-left:5%;

    }
 



 }


