@import '~antd/dist/antd.css';

.App{
  font-family: -apple-system, 'Open Sans', sans-serif !important;
  background-color: #0B013B;
  padding: 0 10%;
}

@media (max-width:800px){
  .App{
    padding: 0 5px;
  }
}
